/* Estilo  tomado de : https://codepen.io/okawa-h/pen/xNaRwM

atentamente migna GG
*/

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@keyframes flash {
    0%, 49%  { opacity: 0; }
    50%, 100% { opacity: 1; }
}

.retro-box {
    width: 100%;
    padding: 1.5em;
    border: 4px solid #555; 
    background-color: rgba(79, 3, 3, 0.85); 
    border-radius: 8px;
    text-align: left;
    margin-bottom: 20px;
    min-height: 100px; 
    box-shadow: inset 0 0 10px rgba(31, 31, 31, 0.8);
    backdrop-filter: blur(3px);
}

.retro-box p {
    display: inline;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    line-height: 2em;
}


.retro-box span {
    display: none;
    min-width: 1em;
}

.retro-cursor {
    display: inline-block;
    width: 12px;
    height: 1.2em;
    background-color: #fff;
    animation: flash .8s infinite;
    vertical-align: bottom;
    margin-left: 5px;
}